USE [AWSS_21_22]
GO
/****** Object:  StoredProcedure [dbo].[SAVE_UPDATE_EMPLOYEE_SUBJECT_MASTER]    Script Date: 25/03/2022 14:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SAVE_UPDATE_EMPLOYEE_SUBJECT_MASTER]	(	@EMPLOYEE_MASTER_ID		AS INTEGER,
																@CLASS_MASTER_ID		AS INTEGER,
																@SECTION_MASTER_ID		AS INTEGER,
																@SUBJECT_MASTER_ID		AS INTEGER,
																@ALL_SUBJECTS_OF_CLASS	AS BIT,
																@SUPERADMIN_USERNAME	AS NVARCHAR(100),
																@USER_MASTER_ID			AS INTEGER,
																@COMMON_DB_NAME			AS NVARCHAR(100)
															)
AS
BEGIN
	DECLARE @QUERY AS NVARCHAR(MAX)
	DECLARE @ERROR_MESSAGE AS NVARCHAR(500)


	IF OBJECT_ID('TEMPDB..#EMPLOYEE_MASTER') IS NOT NULL
			DROP TABLE #EMPLOYEE_MASTER

	CREATE TABLE #EMPLOYEE_MASTER	(	[ID]		INTEGER,
										[NAME]		NVARCHAR(100)
									)


	IF ISNULL(@SUBJECT_MASTER_ID, 0) > 0
	BEGIN
		IF EXISTS	(	SELECT		1
						FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE
						WHERE		CLASS_MASTER_ID = @CLASS_MASTER_ID
						AND			CLASS_SECTION_MASTER_ID = @SECTION_MASTER_ID
						AND			ALL_SUBJECTS_OF_CLASS = 1
						AND			IS_ACTIVE = 1
					)
		BEGIN

			SET @QUERY =	'	INSERT INTO #EMPLOYEE_MASTER	(	ID,
																	NAME
																)
														SELECT		EM.ID,
																	EM.DISPLAY_NAME
														FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE ESM
														INNER JOIN	[' + @COMMON_DB_NAME + '].dbo.EMPLOYEE_MASTER EM
														ON			ESM.EMPLOYEE_MASTER_ID = EM.ID
														WHERE		ESM.CLASS_MASTER_ID = ' + CONVERT(NVARCHAR(50), @CLASS_MASTER_ID) + '
														AND			ESM.CLASS_SECTION_MASTER_ID = ' + CONVERT(NVARCHAR(50), @SECTION_MASTER_ID) + '
														AND			ALL_SUBJECTS_OF_CLASS = 1
														AND			ESM.IS_ACTIVE = 1
							'
	
			EXEC sp_executesql @QUERY


			SELECT		@ERROR_MESSAGE = 'Sorry! Cannot allocate this Subject because All Subjects of selected Class-Section are allocated to Employee [' + CONVERT(NVARCHAR(50), NAME) + ']'
			FROM		#EMPLOYEE_MASTER

			;THROW 99000, @ERROR_MESSAGE, 1
		END


		IF EXISTS	(	SELECT		1
						FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE
						WHERE		CLASS_MASTER_ID = @CLASS_MASTER_ID
						AND			CLASS_SECTION_MASTER_ID = @SECTION_MASTER_ID
						AND			SUBJECT_MASTER_ID = @SUBJECT_MASTER_ID
						AND			IS_ACTIVE = 1
					)
		BEGIN			

			SET @QUERY =	'	INSERT INTO #EMPLOYEE_MASTER	(	ID,
																	NAME
																)
														SELECT		EM.ID,
																	EM.DISPLAY_NAME
														FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE ESM
														INNER JOIN	[' + @COMMON_DB_NAME + '].dbo.EMPLOYEE_MASTER EM
														ON			ESM.EMPLOYEE_MASTER_ID = EM.ID
														WHERE		ESM.CLASS_MASTER_ID = ' + CONVERT(NVARCHAR(50), @CLASS_MASTER_ID) + '
														AND			ESM.CLASS_SECTION_MASTER_ID = ' + CONVERT(NVARCHAR(50), @SECTION_MASTER_ID) + '
														AND			ESM.SUBJECT_MASTER_ID = ' + CONVERT(NVARCHAR(50), @SUBJECT_MASTER_ID) + '
														AND			ESM.IS_ACTIVE = 1
							'
	
			EXEC sp_executesql @QUERY


			SELECT		@ERROR_MESSAGE = 'Sorry! This Subject is already allocated for selected Class-Section to Employee [' + CONVERT(NVARCHAR(50), NAME) + ']'
			FROM		#EMPLOYEE_MASTER

			;THROW 99000, @ERROR_MESSAGE, 1

		END
	END

	
	IF @ALL_SUBJECTS_OF_CLASS = 1
	BEGIN
		IF EXISTS	(	SELECT		1
						FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE
						WHERE		CLASS_MASTER_ID = @CLASS_MASTER_ID
						AND			CLASS_SECTION_MASTER_ID = @SECTION_MASTER_ID
						AND			ALL_SUBJECTS_OF_CLASS = 1
						AND			IS_ACTIVE = 1
					)
		BEGIN
			SET @QUERY =	'	INSERT INTO #EMPLOYEE_MASTER	(	ID,
																	NAME
																)
														SELECT		EM.ID,
																	EM.DISPLAY_NAME
														FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE ESM
														INNER JOIN	[' + @COMMON_DB_NAME + '].dbo.EMPLOYEE_MASTER EM
														ON			ESM.EMPLOYEE_MASTER_ID = EM.ID
														WHERE		ESM.CLASS_MASTER_ID = ' + CONVERT(NVARCHAR(50), @CLASS_MASTER_ID) + '
														AND			ESM.CLASS_SECTION_MASTER_ID = ' + CONVERT(NVARCHAR(50), @SECTION_MASTER_ID) + '
														AND			ALL_SUBJECTS_OF_CLASS = 1
														AND			ESM.IS_ACTIVE = 1
							'
	
			EXEC sp_executesql @QUERY


			SELECT		@ERROR_MESSAGE = 'Sorry! All Subjects of selected Class-Section are already allocated to Employee [' + CONVERT(NVARCHAR(50), NAME) + ']'
			FROM		#EMPLOYEE_MASTER

			;THROW 99000, @ERROR_MESSAGE, 1
		END


		DELETE
		FROM		EMPLOYEE_SUBJECT_MASTER_ONLINE
		WHERE		EMPLOYEE_MASTER_ID = @EMPLOYEE_MASTER_ID
		AND			CLASS_MASTER_ID = @CLASS_MASTER_ID
		AND			CLASS_SECTION_MASTER_ID = @SECTION_MASTER_ID
	END



END
