USE [JHANDA_SINGH_AND_SONS]
GO
/****** Object:  StoredProcedure [dbo].[SAVE_UPDATE_INWARD_CHALLAN]    Script Date: 25/03/2022 14:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SAVE_UPDATE_INWARD_CHALLAN]
(	@ID								AS INTEGER,
	@CHALLAN_NUMBER					AS NVARCHAR(50),
	@ACCOUNT_MASTER_ID				AS INTEGER,
	@PURCHASE_ACCOUNT_MASTER_ID		AS INTEGER,
	@CHALLAN_DATE					AS DATE,
	@TOTAL_AMOUNT					AS DECIMAL(18,2),
	@LESS_AMOUNT					AS DECIMAL(18,2),
	@ADD_AMOUNT						AS DECIMAL(18,2),
	@ROUND_OFF_AMOUNT				AS DECIMAL(18,2),
	@CHALLAN_AMOUNT					AS DECIMAL(18,2),
	@PO_NUMBER						AS NVARCHAR(50),
	@REMARKS						AS NVARCHAR(100),
	@PRODUCT_LIST					AS TEMP_TABLE_OBJECT READONLY,
	@USER_MASTER_ID					AS INTEGER,
	@LOCATION_MASTER_ID				AS INTEGER,
	@ROW_VERSION					AS INTEGER,
	@TIME_STAMP						NVARCHAR(100)
)
AS
BEGIN
	DECLARE @ERROR_MESSAGE AS NVARCHAR(MAX)
	
	DECLARE @PARTY_NAME AS NVARCHAR(100)
	SET @PARTY_NAME = ''


	IF EXISTS	(	SELECT		1
					FROM		INWARD_CHALLAN_MAIN
					WHERE		LOCATION_MASTER_ID = @LOCATION_MASTER_ID
					AND			CHALLAN_NUMBER = @CHALLAN_NUMBER
					AND			ID != @ID
				)
	BEGIN
		;THROW 99000, 'Sorry! Another entry already exists for same location and challan number.', 1
	END

	SET @PARTY_NAME = (SELECT NAME FROM ACCOUNT_MASTER WHERE ID = @ACCOUNT_MASTER_ID)

	IF @ID > 0
	BEGIN
		/*Checking RowVersion*/
		IF NOT EXISTS	(	SELECT		1
							FROM		INWARD_CHALLAN_MAIN
							WHERE		ID = @ID
							AND			ROW_VERSION = @ROW_VERSION
						)
		BEGIN
			;THROW 99000, 'Sorry! Record has been modified by some other user. Please reload the page and try again.', 1
		END

		

		/*Saving Amendment*/
		--EXEC SAVE_AMENDMENT_TRANSPORT_ISSUE_RECEIVE @ID



		UPDATE		INWARD_CHALLAN_MAIN
		SET		    ACCOUNT_MASTER_ID			= @ACCOUNT_MASTER_ID,
					PURCHASE_ACCOUNT_MASTER_ID	= @PURCHASE_ACCOUNT_MASTER_ID,
					CHALLAN_DATE				= @CHALLAN_DATE,
					TOTAL_AMOUNT				= @TOTAL_AMOUNT,
					LESS_AMOUNT					= @LESS_AMOUNT,
					ADD_AMOUNT					= @ADD_AMOUNT,
					ROUND_OFF_AMOUNT			= @ROUND_OFF_AMOUNT,
					CHALLAN_AMOUNT				= @CHALLAN_AMOUNT,
					PO_NUMBER					= @PO_NUMBER,
					REMARKS						= @REMARKS,
					ROW_VERSION					= ROW_VERSION + 1,
					MODIFIED_BY					= @USER_MASTER_ID,
					MODIFY_DATE					= GETDATE()
		WHERE		ID = @ID

	END
	

	IF @ID = 0
	BEGIN
		INSERT INTO INWARD_CHALLAN_MAIN	(	ACCOUNT_MASTER_ID,
											PURCHASE_ACCOUNT_MASTER_ID,
											CHALLAN_NUMBER,
											CHALLAN_DATE,
											TOTAL_AMOUNT,
											LESS_AMOUNT,
											ADD_AMOUNT,
											ROUND_OFF_AMOUNT,
											CHALLAN_AMOUNT,		
											PO_NUMBER,									
											REMARKS,
											CREATED_BY,
											TIME_STAMP
										)
							VALUES		(	@ACCOUNT_MASTER_ID,
											@PURCHASE_ACCOUNT_MASTER_ID,
											@CHALLAN_NUMBER,
											@CHALLAN_DATE,
											@TOTAL_AMOUNT,	
											@LESS_AMOUNT,
											@ADD_AMOUNT,
											@ROUND_OFF_AMOUNT,
											@CHALLAN_AMOUNT,	
											@PO_NUMBER,									
											@REMARKS,
											@USER_MASTER_ID,
											@TIME_STAMP
									)

		SET @ID = SCOPE_IDENTITY()
	END



	DELETE		OS
	FROM		OPENING_STOCK OS
	INNER JOIN	INWARD_CHALLAN_INV ICI
	ON			OS.PRODUCT_MASTER_ID = ICI.PRODUCT_MASTER_ID
	AND			OS.BATCH_NUMBER = ICI.BATCH_NUMBER
	WHERE		ICI.INWARD_CHALLAN_MAIN_ID = @ID





	DELETE
	FROM		INWARD_CHALLAN_INV
	WHERE		INWARD_CHALLAN_MAIN_ID = @ID


	DECLARE @PRODUCT_DETAILS AS TABLE	(	PRODUCT_NAME		NVARCHAR(100),
											BATCH_NUMBER		NVARCHAR(50),
											NUMBER_OF_BAGS		INTEGER,
											BAG_CATEGORY		NVARCHAR(50),
											QUANTITY			DECIMAL(18, 3),
											RECEIVED_QUANTITY	DECIMAL(18, 3),
											RATE				DECIMAL(18, 2),
											AMOUNT				DECIMAL(18, 2),
											SORTID				INTEGER
										)
	
	


	INSERT INTO @PRODUCT_DETAILS	(	PRODUCT_NAME,
										BATCH_NUMBER,
										NUMBER_OF_BAGS,
										BAG_CATEGORY,
										QUANTITY,
										RECEIVED_QUANTITY,
										RATE,
										AMOUNT,
										SORTID
									)
							SELECT		DESC1,
										DESC2,
										CONVERT(INTEGER, AMOUNT1),
										DESC3,
										AMOUNT2,
										AMOUNT3,
										AMOUNT4,
										AMOUNT5,
										AMOUNT6
							FROM		@PRODUCT_LIST





	INSERT INTO INWARD_CHALLAN_INV	(	[INWARD_CHALLAN_MAIN_ID],
										[PRODUCT_MASTER_ID],
										[BATCH_NUMBER],
										[NUMBER_OF_BAGS],
										[BAG_CATEGORY],
										[QUANTITY],
										[RECEIVED_QUANTITY],
										[RATE],
										[AMOUNT],
										[REMARKS],
										[SORTID]
									)
							SELECT		@ID						AS INWARD_CHALLAN_MAIN_ID,
										PM.ID					AS PRODUCT_MASTER_ID,
										PD.BATCH_NUMBER			AS BATCH_NUMBER,
										PD.NUMBER_OF_BAGS		AS NUMBER_OF_BAGS,
										PD.BAG_CATEGORY			AS BAG_CATEGORY,
										PD.QUANTITY				AS QUANTITY,
										PD.RECEIVED_QUANTITY	AS RECEIVED_QUANTITY,
										PD.RATE					AS RATE,
										PD.AMOUNT				AS AMOUNT,
										''						AS REMARKS,
										PD.SORTID				AS SORTID
							FROM		@PRODUCT_DETAILS PD
							INNER JOIN	PRODUCT_MASTER PM
							ON			PD.PRODUCT_NAME = PM.[NAME]
	

	DELETE
	FROM		INWARD_CHALLAN_FIN
	WHERE		INWARD_CHALLAN_MAIN_ID = @ID


	INSERT INTO INWARD_CHALLAN_FIN
							(	[INWARD_CHALLAN_MAIN_ID],
								[ACCOUNT_MASTER_ID],
								[ENTRY_DATE],
								[VOUCHER_NUMBER],
								[DESC],
								[DEBIT_AMT],
								[CREDIT_AMT]
							)
					VALUES	(	@ID,
								@ACCOUNT_MASTER_ID,
								@CHALLAN_DATE,
								'IW'+@CHALLAN_NUMBER,
								'INWARD CHALLAN NO. ' + @CHALLAN_NUMBER,
								0,
								@CHALLAN_AMOUNT
							)
	INSERT INTO INWARD_CHALLAN_FIN
							(	[INWARD_CHALLAN_MAIN_ID],
								[ACCOUNT_MASTER_ID],
								[ENTRY_DATE],
								[VOUCHER_NUMBER],
								[DESC],
								[DEBIT_AMT],
								[CREDIT_AMT]
							)
					VALUES	(	@ID,
								@PURCHASE_ACCOUNT_MASTER_ID,
								@CHALLAN_DATE,
								'IW'+@CHALLAN_NUMBER,
								'INWARD CHALLAN NO. ' + @CHALLAN_NUMBER + ' '+ @PARTY_NAME,
								@CHALLAN_AMOUNT,
								0
							)





	/*Correcting Sortid for Products*/
	UPDATE		ICI
	SET			ICI.SORTID = T.SORTID
	FROM		INWARD_CHALLAN_INV ICI
	INNER JOIN	(	SELECT		ID,
								ROW_NUMBER() OVER (ORDER BY SORTID) AS SORTID
					FROM		INWARD_CHALLAN_INV
					WHERE		INWARD_CHALLAN_MAIN_ID = @ID
				)T
	ON			ICI.ID = T.ID



	--- INSERT PRODUCT_MASTER_IDS AND BATCH_NUMBERS
	--  IN OPENING_STOCK TABLE
	--  IF THEIR ENTRY IS NOT ALREADY PRESENT IN OPEING_STOCK TABLE

	INSERT INTO OPENING_STOCK	(	[PRODUCT_MASTER_ID],
									[BATCH_NUMBER],
									[QUANTITY],
									[MEASUREMENT_UNIT_MASTER_ID],
									[WEIGHT_PER_PIECE],
									[REMARKS],
									[CREATED_BY],
									[LOCATION_MASTER_ID]
								)
							SELECT		PM.ID					AS PRODUCT_MASTER_ID,
										PD.BATCH_NUMBER			AS BATCH_NUMBER,
										0						AS QUANTITY,
										1						AS MEASUREMENT_UNIT_MASTER_ID,
										0						AS WEIGHT_PER_PIECE,
										''						AS REMARKS,
										@USER_MASTER_ID			AS CREATED_BY,
										@LOCATION_MASTER_ID		AS LOCATION_MASTER_ID
							FROM		@PRODUCT_DETAILS PD
							INNER JOIN	PRODUCT_MASTER PM
							ON			PD.PRODUCT_NAME = PM.[NAME]
							WHERE		PD.BATCH_NUMBER != ''

							EXCEPT

							SELECT		PM.ID					AS PRODUCT_MASTER_ID,
										PD.BATCH_NUMBER			AS BATCH_NUMBER,
										0						AS QUANTITY,
										1						AS MEASUREMENT_UNIT_MASTER_ID,
										0						AS WEIGHT_PER_PIECE,
										''						AS REMARKS,
										@USER_MASTER_ID			AS CREATED_BY,
										@LOCATION_MASTER_ID		AS LOCATION_MASTER_ID
							FROM		@PRODUCT_DETAILS PD
							INNER JOIN	PRODUCT_MASTER PM
							ON			PD.PRODUCT_NAME = PM.[NAME]
							INNER JOIN	OPENING_STOCK OS
							ON			OS.PRODUCT_MASTER_ID = PM.ID
							AND			OS.BATCH_NUMBER = PD.BATCH_NUMBER
							AND			PD.BATCH_NUMBER != ''

	SELECT @ID
END



